{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
{{parent()}}
{% if form is defined %}{{ form_stylesheet(form) }}{% endif %}
{% endblock %}

{% block javascripts %}
{{parent()}}
{% if form is defined %}{{ form_javascript(form) }}{% endif %}
<script>
  $(document).ready(function() {
    $('.sidebar p:first').text('Μητρώο Υποστηρικτικών δομών - Μη Σχολικών Μονάδων').css({'color': '#fff'});
  });
</script>
{% endblock %}

{% block logo %}
    <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
        {#<img src="{{ asset(admin_pool.titlelogo) }}" alt="">#}
        {{ admin_pool.title }}
    </a>
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ asset('Οδηγός_Χρήσης_SUS_v1.2.docx') }}">Εγχειρίδιο Χρήσης</a>
            </li>
            <li>
                <a href="{{ asset('SUS_Όροι_Χρήσης_v1.docx') }}">Όροι Χρήσης</a>
            </li>
            {#<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                {% include admin_pool.getTemplate('add_block') %}
            </li>#}
            <li class="dropdown user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{ app.user.username }} &nbsp;<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {% include admin_pool.getTemplate('user_block') %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block footer %}
<p class="text-right" style="margin-right: 20px;">Υποσύστημα Διαχείρησης Άλλων Μονάδων ΠΣΔ</p>
<script>
jQuery(document).ready(function(){
    jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "" ] );
    jQuery(".datepicker").datepicker( jQuery.datepicker.regional[ "en" ]);
});
</script>
{% endblock %}